

.community {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2330px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.community .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2191px;
  height              : 89px;
  width               : 1343px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .footer .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 89px;
  box-sizing          : border-box;
  width               : 1343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .footer .footer1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 603px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .connections {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1440px;
  height              : 640px;
  width               : 608px;
  position            : absolute;
  margin              : 0;
  left                : 724px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .connections .name6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 302px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 461px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .connections .rectangle6 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 115px;
  height              : 165px;
  box-sizing          : border-box;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 443px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .connections .name5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 302px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .connections .rectangle5 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 115px;
  height              : 165px;
  box-sizing          : border-box;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .connections .name4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 302px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .connections .rectangle4 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 115px;
  height              : 165px;
  box-sizing          : border-box;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .connections .name3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 582px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 461px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .connections .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 395px;
  height              : 165px;
  box-sizing          : border-box;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 443px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .connections .name2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 582px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .connections .rectangle2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 395px;
  height              : 165px;
  box-sizing          : border-box;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .connections .name1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 582px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .connections .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 395px;
  height              : 165px;
  box-sizing          : border-box;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .connections .connections1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .sociamediaresources {
  background-color    : rgba(255,255,255,0.0);
  top                 : 996px;
  height              : auto;
  width               : 601px;
  position            : absolute;
  margin              : 0;
  left                : 719px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .recentactivity {
  background-color    : rgba(255,255,255,0.0);
  top                 : 996px;
  height              : auto;
  width               : 601px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .profileinfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 241px;
  height              : auto;
  width               : 562px;
  position            : absolute;
  margin              : 0;
  left                : 717px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .profilepic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 230px;
  height              : 621px;
  width               : 595px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .profilepic .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 621px;
  box-sizing          : border-box;
  width               : 595px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .profilepic .profilephoto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 262px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.community .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 89px;
  width               : 1343px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .title .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 89px;
  box-sizing          : border-box;
  width               : 1343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.community .title .a2020distancelearni {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 1056px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}