

.students {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2330px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.students .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2191px;
  height              : 89px;
  width               : 1343px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.students .footer .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 89px;
  box-sizing          : border-box;
  width               : 1343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.students .footer .footer1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 603px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.students .pricingtier1early {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1376px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 797px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.students .scholarshipopportun {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1378px;
  height              : auto;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.students .reason1reason2re {
  background-color    : rgba(255,255,255,0.0);
  top                 : 688px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 803px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.students .whyattendloremip {
  background-color    : rgba(255,255,255,0.0);
  top                 : 686px;
  height              : auto;
  width               : 566px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.students .studentpic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 221px;
  height              : 343px;
  width               : 1329px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.students .studentpic .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 343px;
  box-sizing          : border-box;
  width               : 1329px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.students .studentpic .photoofstudents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 148px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 467px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
.students .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 89px;
  width               : 1343px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.students .title .rectangle {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 89px;
  box-sizing          : border-box;
  width               : 1343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.students .title .a2020distancelearni {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 1056px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}